:root {
	/* Colors*/
	--primary-color: #ffffd0;
	--primary-btn-color: #005b4b;
	--text-color: #202020;
	--secondary-text-color: #a00037;

	/* Fonts*/
	--text-poppins: "Poppins", sans-serif;
}

@font-face {
	font-family: "ArsenicaRegular";
	src: url("/assets/fonts/ArsenicaTrial-Regular.ttf");
}

@font-face {
	font-family: "ArsenicaLight";
	src: url("/assets/fonts/ArsenicaTrial-Light.ttf");
}

@font-face {
	font-family: "ArsenicaBold";
	src: url("/assets/fonts/ArsenicaTrial-Bold.ttf");
}

.image__landing-page {
	display: flex;
	position: absolute;
	top: 8.5rem;
	right: 0rem;
	float: right;
}

.image__landing-page img {
	width: 417px;
	height: 585px;
	filter: drop-shadow(-2px 8px 31px rgba(0, 0, 0, 0.19));
}

.tagline {
	width: 40rem;
	margin: 10rem 5rem;
}

.tagline h1 {
	color: var(--text-color);

	font-size: 3.75rem;
	font-family: "ArsenicaLight";
}

.text--bolder {
	font-family: "ArsenicaBold";
}

html {
	margin: 0;
}

body {
	margin: 0;
	background-color: var(--primary-color);
}

/* LOGO */
.navbar__main img {
	width: 121px;
	height: 42px;
}

/* Icons */
.icon {
	height: 20px;
	width: 20px;
	display: block;
	background: url("/assets/icons/cart.svg");
}

/* Navigation  Bar */
.navbar__main {
	display: flex;
	padding: 15px;
	overflow: hidden;
	align-items: center;
	color: var(--text-color);
	/* background-color: var(--primary-color); */
}

.navbar__main a {
	text-align: center;
	color: var(--text-color);
	padding: 14px 40px;
	text-decoration: none;

	font-weight: 100;
	font-size: 1rem;
	font-family: var(--text-poppins);
}

.navbar__main a:hover {
	color: #f4acb7;
}

/* Buttons */
.btn-cart__main {
	margin-left: auto;
	width: 103px;
	height: 34px;
	border: none;

	font-weight: 100;
	font-size: 1rem;
	font-family: var(--text-poppins);
	color: var(--primary-color);
	background-color: var(--primary-btn-color);
}

.btn-cart__main:hover {
	cursor: pointer;
	background-color: #006b59;
}

.btn__main {
	width: 204px;
	height: 60px;
	border: none;
	position: absolute;

	font-weight: 100;
	font-size: 1.5625rem;
	color: var(--primary-color);
	font-family: var(--text-poppins);
	background-color: var(--primary-btn-color);
}

.btn__hero {
	left: 80px;
	top: 35rem;
	margin-left: auto;
}

.btn__main:hover {
	cursor: pointer;
	background-color: #006b59;
}

.hero {
	height: 30rem;
}

/* OUR SERVICES */
.our-services {
	display: flex;
	padding: 5rem 10rem;
	flex-direction: column;
	justify-content: center;
	background-color: rgb(255, 255, 255);
}

.heading__container {
	display: flex;
	text-align: center;
	align-items: center;
	flex-direction: column;
}

.heading__title {
	font-size: 5rem;
	color: var(--text-color);
	font-family: "ArsenicaRegular";
}

.desc {
	width: 70%;
	font-size: 1.6rem;
	color: var(--text-color);
	font-family: var(--text-poppins);
}

.sub-heading {
	margin-top: 5rem;
	font-size: 1.575rem;
	font-family: "ArsenicaLight";
}

.title--women {
	color: var(--secondary-text-color);
}

.title--men {
	color: var(--primary-btn-color);
}

.title--kids {
	color: var(--text-color);
}

.card {
	margin-bottom: 5rem;
}

.card__container {
	gap: 5rem;
	display: flex;
	flex-direction: row;
}

.card--right {
	justify-content: flex-end;
}

.card__title {
	font-size: 4rem;
	font-family: "ArsenicaRegular";
}

.card__title--right {
	font-size: 4rem;
	text-align: right;
	font-family: "ArsenicaRegular";
}

.img-card {
	width: 20rem;
	height: 20rem;
	object-fit: cover;
}

.img--right {
	order: 2;
}

hr {
	border: 0;
	width: 100%;
	height: 1px;
	display: block;
	background-color: #202020;
}

/* OUR PRODUCTS */
.our-products {
	display: flex;
	padding: 5rem 3rem;
	flex-direction: column;
	background-color: var(--primary-color);
}

.btn__main-prdcts {
	width: 150px;
	height: 50px;
	border: none;
	margin-bottom: 7rem;

	font-size: 1.2rem;
	font-weight: 100;
	color: var(--primary-color);
	font-family: var(--text-poppins);
	background-color: var(--primary-btn-color);
}

.btn__main-prdcts:hover {
	cursor: pointer;
	background-color: #006b59;
}

.card__products {
	gap: 10px;
	display: flex;
	justify-content: space-between;
}

.card__products a {
	text-decoration: none;
}

.card__container--col {
	flex-direction: column;
}

.card__container--col h1 {
	font-size: 1.875rem;
	color: var(--text-color);
}

.card__container--col img {
	width: 25.0625rem;
	height: 28.25rem;
}

.prdcts-desc {
	font-size: 1rem;
	font-weight: 300;
	width: 23.3125rem;
	color: var(--text-color);
	font-family: var(--text-poppins);
}

/* OUR LOCATION */
.our-location {
	height: 700px;
	background-color: #fff;
}

.loc-content {
	gap: 5rem;
	width: 80%;
	display: flex;
	margin: 0 auto;
	align-items: center;
}

.loc-content img {
	width: 17.625rem;
	height: 26.375rem;
}

.loc-content h1 {
	font-size: 2.5rem;
	color: var(--text-color);
	font-family: "ArsenicaRegular";
}

.loc-content p {
	font-size: 1.25rem;
	font-style: italic;
	color: var(--text-color);
	font-family: var(--text-poppins);
}

/* QUOTE */
.quote {
	width: 80%;
	display: flex;
	margin: 0 auto;
	margin-top: 10rem;
	text-align: center;
	align-items: center;
	flex-direction: column;
}

.quote img {
	width: 8.8125rem;
	height: 3.125rem;
}

.quote h1 {
	font-weight: 500;
	font-size: 3.75rem;
	color: var(--text-color);
	font-family: "ArsenicaRegular";
}

/* FOOTER */
footer {
	padding: 2rem 3rem;
	/* display: flex; */
	height: 15rem;
	color: var(--primary-color);
	background-color: var(--primary-btn-color);
}

.footer-container {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.footer-content {
	display: flex;
	flex-direction: row;
}

.footer-content img {
	width: 6.3125rem;
	height: 2.25rem;
}

.footer-col--left {
	height: 100px;
	display: flex;
	flex-direction: column;
}

.footer-col--left h6 {
	font-size: 0.9375rem;
	color: var(--primary-color);
	font-family: "ArsenicaLight";
}

.footer-col--right {
	text-align: right;
	flex: 1;
	display: flex;
	flex-direction: column;
}

.footer-col--right p {
	font-style: italic;
	font-size: 0.9375rem;
	color: var(--primary-color);
	font-family: var(--text-poppins);
}

.nav__footer {
	gap: 2rem;
	display: flex;
	font-weight: 100;
	font-size: 0.9375rem;
}

.nav__footer a {
	text-decoration: none;
	color: var(--primary-color);
	font-family: var(--text-poppins);
}

.footer-btn {
	width: 6rem;
	border: none;
	cursor: pointer;
	height: 1.875rem;
	font-size: 0.9375rem;
	color: var(--primary-btn-color);
	font-family: var(--text-poppins);
	background-color: var(--primary-color);
}

.footer-btn:hover {
	background-color: #f3f3be;
}

footer hr {
	border: 0;
	width: 100%;
	height: 1px;
	display: block;
	margin-top: 7rem;
	background-color: var(--primary-color);
}

.footer-lwr {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.footer-cpr p {
	font-size: 0.9375rem;
	color: var(--primary-color);
	font-family: var(--text-poppins);
}

.footer-socials {
	gap: 0.3rem;
	display: flex;
	justify-content: flex-end;
}

.fa-brands {
	width: 1.5625rem;
	height: 1.5625rem;
	color: var(--primary-color);
}

/* ===============  */

/* PRODUCTS PAGE */
header {
	display: flex;
	height: 17rem;
	text-align: center;
	justify-content: center;

	align-content: center;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 98.875rem 65.9375rem;

	background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(/assets/images/products-cover.jpg);
}

header h1 {
	font-weight: 500;
	font-size: 6.25rem;
	color: var(--primary-color);
	font-family: "ArsenicaRegular";

	text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
}

.prdcts-container {
	display: flex;
	padding: 5rem 3rem;
	background-color: #fff;
	flex-direction: column;
	justify-content: center;
}

.card-container__products {
	gap: 6rem;
	display: flex;
	min-width: 50%;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.services-shrt__container {
	height: 27.625rem;
	background-color: var(--primary-color);
}
